<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-6">
      <form class="d-flex flex-column align-items-center">
        <div class="d-grid gap-2">
          <p>Por favor, utilize seu CPF para logar.</p>
          <input class="form-control me-sm-2" type="text" placeholder="CPF" [(ngModel)]="cpf" name="cpf">
          <button type="button" class="btn btn-primary btn-lg" (click)="login()">Login</button>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Modernização de Módulo ERP com Microsserviços</h2>
      <p></p>
      <h3>Sobre o Projeto</h3>
      <p>A evolução das arquiteturas de software é um dos principais desafios das empresas que utilizam sistemas ERP (Enterprise Resource Planning). Esses sistemas, tradicionalmente monolíticos, possuem dificuldades em escalabilidade, manutenção e customização. Diante desse contexto, este projeto de pesquisa tem como objetivo avaliar os impactos da migração de um módulo de acesso a documentos de recursos humanos (RH) para uma arquitetura baseada em microsserviços e serverless.</p>
      <p></p>
      <h3>Objetivo do Estudo</h3>
      <p>O estudo busca demonstrar que a implementação de um módulo de acessos a documentos de RH em um ERP monolítico pode ser realizada de forma desacoplada, utilizando uma arquitetura moderna baseada em microsserviços e serverless. Espera-se que essa abordagem proporcione melhorias significativas em termos de:</p>
      <p><strong> Agilidade no desenvolvimento </strong></p>
      <p><strong> Escalabilidade e resiliência</strong></p>
      <p><strong> Eficiência operacional</strong></p>
      <p><strong> Redução de custos com infraestrutura e manutenção</strong></p>
    </div>
  </div>
</div>





